<tr id="<%= dom_id(price) %>" class="<%= cycle('bg-white', 'bg-gray-50') %>">
  <td class="px-4 py-2 text-left font-normal border border-gray-300"><%= price.city.name %></td>
  <td class="px-4 py-2 text-left font-normal border border-gray-300"><%= price.item.name %></td>
  <td class="px-4 py-2 text-left font-normal border border-gray-300">
    <% if price.trend %>
    <i class="fa-solid fa-arrow-trend-up text-green-500"></i>
    <% else %>
    <i class="fa-solid fa-arrow-trend-down text-red-500"></i>
    <% end %>
  </td>
  <td class="px-4 py-2 text-left font-normal border border-gray-300"><%= price.price_percentage %>%</td>
  <td class="px-4 py-2 text-left font-normal border border-gray-300"><%= time_ago_in_detailed_words(price.updated_at) %></td>
</tr>
