<div id="<%= dom_id(price) %>" class="grid grid-cols-12 items-center px-2 border-b border-gray-300 divide-x divide-gray-300 <%= cycle('bg-white', 'bg-gray-50') %>">
  <div class="col-span-3 h-full content-center">
    <p class="py-2 pr-2 text-sm text-gray-700">
      <%= price.city.name %>
    </p>
  </div>
  <div class="col-span-3 h-full content-center">
    <p class="px-2 text-sm text-gray-700">
      <%= price.item.name %>
    </p>
  </div>
  <div class="col-span-2 h-full content-center text-center">
    <% if price.trend %>
    <p class="px-2 text-sm"><i class="fa-solid fa-arrow-trend-up text-green-500"></i></p>
    <% else %>
    <p class="px-2 text-sm"><i class="fa-solid fa-arrow-trend-down text-red-500"></i></p>
    <% end %>
  </div>
  <div class="col-span-2 h-full content-center text-center">
    <p class="px-2 text-sm text-gray-700">
      <%= price.price_percentage %>%
    </p>
  </div>
  <div class="col-span-2 h-full content-center text-right">
    <p class="pl-2 text-sm text-gray-500">
      <%= time_ago_in_detailed_words(price.updated_at) %>
    </p>
  </div>
</div>
