<div class="mb-8 py-4 justify-center border rounded-md shadow-lg border-zinc-600">
  <h2 class="flex justify-center mb-4 text-3xl font-thin">検索</h2>
  <div class="flex justify-center mx-6">
    <%= form_with model: @search_form, html: { data: { turbo_frame: "prices-list", controller: "form", action: "input->form#submit" } }, method: :get, url: prices_path do |form| %>
    <div class="flex mx-2">
      <div class="mr-4">
        <div>
          <%= form.label :city_id, "都市：" %>
          <%= form.collection_select :city_id, @cities, :id, :name, { include_blank: "未選択" }, { class: "border rounded-sm p-0.5 w-48" } %>
        </div>

        <div class="mt-1.5 mb-1">
          <span>価格割合：</span>
          <%= form.number_field :min_price, class: "w-12 pl-1 border border-radius placeholder-gray-400 placeholder-opacity-50", max: 200, min: 30, placeholder: "80" %>
          〜
          <%= form.number_field :max_price, class: "w-12 pl-1 border border-radius placeholder-gray-400 placeholder-opacity-50", max: 200, min: 30, placeholder: "110" %>
          %
        </div>

        <div data-controller="toggle" class="flex">
          <span>最新更新順：</span>
          <label for="toggle-checkbox" class="relative inline-flex items-center cursor-pointer">
            <%= form.check_box :sort_order, { id: "toggle-checkbox", class: "sr-only peer", data: { toggle_target: "checkbox" } }, true, false %>

            <div class="w-8 h-5 bg-gray-300 peer-checked:bg-green-500 rounded-full transition duration-300 z-0"></div>
            <div class="absolute left-1 top-1.2 w-3.5 h-3.5 bg-white rounded-full transition-transform duration-300 peer-checked:translate-x-2.5 z-0"></div>
          </label>
        </div>
      </div>

      <div>
        <div class="mb-1.5">
          <%= form.label :item_name, "商品：" %>
          <%= form.text_field :item_name, placeholder: "商品を入力", class: "w-44 pl-1 border rounded-sm placeholder-gray-400 placeholder-opacity-50" %>
        </div>

        <div class="flex space-x-2">
          <%= form.label :trend, "動向：" %>
          <label for="trend_all" class="flex space-x-0.5 cursor-pointer items-center">
            <%= form.radio_button :trend, "all", id: "trend_all" %>
            <span>All</span>
          </label>

          <label for="trend_true" class="flex space-x-0.5 cursor-pointer items-center">
            <%= form.radio_button :trend, "true", id: "trend_true" %>
            <i class="fa-solid fa-arrow-trend-up text-green-500"></i>
          </label>

          <label for="trend_false" class="flex space-x-0.5 cursor-pointer items-center">
            <%= form.radio_button :trend, "false", id: "trend_false" %>
            <i class="fa-solid fa-arrow-trend-down text-red-500"></i>
          </label>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
