<% content_for(:title, t(".title")) %>

<h1 class="text-center mx-8 md:mx-20 mb-12 pt-4 pb-2 text-2xl sm:text-3xl font-semibold border-b-2 border-violet-800">対象都市：<%= @city.name %></h1>

<div class="text-center mt-6">
  <%= form_with url: add_price_field_prices_path, method: :post, data: { controller: "add-price", action: "turbo:submit-end->add-price#clearField" } do |form| %>
  <%= form.hidden_field :city_id, value: @city.id %>
  <div class="flex justify-center">
    <%= form.text_field :item_name, placeholder: "商品名", class: "pl-1 border rounded-sm", data: { add_price_target: "itemName" } %>
    <%= button_tag type: "submit", class: "flex items-center justify-center w-5 h-5 ml-1 mt-1 bg-purple-700 rounded-full cursor-pointer hover:bg-gray-500 transition duration-500" do %>
    <i class="fa-solid fa-plus text-white"></i>
    <% end %>
  </div>
  <% end %>
</div>

<div class="w-full">
  <%= form_with url: confirm_prices_path, method: :post, data: { turbo_frame: "modal" } do |form| %>
  <%= form.hidden_field :city_id, value: @city.id %>
  <!-- app/views/prices/_price_fields.html.erb -->
  <div id="price-fields">
    <!-- turbo-stream -->
  </div>
  <div class="flex justify-center text-white text-sm text-thin">
    <%= button_tag type: "submit", class: "flex items-center justify-center mt-14 px-2 py-1 bg-purple-700 rounded cursor-pointer hover:bg-gray-500 transition duration-300" do %>
    <i class="fa-solid fa-rotate-right pr-1"></i>
    <span><%= t("helpers.submit.update") %></span>
    <% end %>
  </div>
  <% end %>
  <p class="mt-10 text-center text-xs text-red-300">※「価格割合」と「動向」だけ 更新可能 です。<br />都市や商品の追加は管理者が行うため、お問い合わせいただければ対応いたしますm(__)m</p>
</div>
