<h1 class="text-center text-4xl">対象都市：<%= @city.name %></h1>

<div class="text-center my-6">
  <%= form_with url: add_price_field_prices_path, method: :post, data: { controller: "add-price", action: "turbo:submit-end->add-price#clearField" } do |form| %>
  <%= form.hidden_field :city_id, value: @city.id %>
  <%= form.text_field :item_name, placeholder: "商品名", data: { add_price_target: "itemName" } %>
  <%= form.submit "追加", class: "text-sm" %>
  <% end %>
</div>

<div class="text-center">
  <%= form_with url: confirm_prices_path, method: :post, data: { turbo_frame: "modal" } do |form| %>
  <%= form.hidden_field :city_id, value: @city.id %>
  <!-- app/views/prices/_price_fields.html.erb -->
  <div id="price-fields">
    <!-- turbo-stream -->
  </div>
  <%= form.submit "更新" %>
  <% end %>
</div>
