<!DOCTYPE html>
<html>

<head class="h-scroll scroll-smooth">
  <title><%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
  <meta name=" mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="manifest" href="/manifest.json">
  <!-- ファビコン設定 -->
  <link rel="icon" href="/favicon.png" type="image/png">
  <!-- PWAアイコン設定 -->
  <link rel="apple-touch-icon" href="/icon-x192-for-pwa.png">

  <%= yield :head %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <script src="https://kit.fontawesome.com/12b5d77523.js" crossorigin="anonymous"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W29XEZJHDW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-W29XEZJHDW');
  </script>
</head>

<body class="flex flex-col min-h-screen">
  <%= turbo_frame_tag "modal" %>

  <div class="flex-1">
    <header class="fixed top-0 left-0 w-full z-40">
      <%= render "shared/header" %>

    </header>
    <div id="flash" class="fixed top-16 left-0 w-full z-10">
      <%= render "shared/flash_message" %>
    </div>

    <main class="mt-20">
      <%= yield %>
    </main>
  </div>

  <footer class="w-full z-40">
    <%= render "shared/footer" %>
  </footer>
</body>

</html>
